.u-section-1 {
  background-image: url("images/gaw.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 255px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 164px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1526px;
}

.u-section-2 .u-video-1 {
  width: 744px;
  height: 450px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -450px 0 0 776px;
}

.u-section-2 .u-video-2 {
  width: 744px;
  height: 450px;
  margin: 323px 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -450px 776px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 432px 0 0 786px;
}

.u-section-2 .u-video-3 {
  width: 744px;
  height: 450px;
  margin: -75px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1399px;
  }

  .u-section-2 .u-video-1 {
    width: 715px;
    height: 433px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -433px;
    margin-left: 774px;
  }

  .u-section-2 .u-video-2 {
    width: 658px;
    height: 398px;
    margin-top: 306px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -398px;
    margin-right: 755px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 346px;
    margin-left: 669px;
  }

  .u-section-2 .u-video-3 {
    width: 626px;
    height: 352px;
    margin-top: -125px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1746px;
  }

  .u-section-2 .u-video-1 {
    height: 330px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-video-2 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 119px;
    margin-right: 449px;
    margin-left: 0;
  }

  .u-section-2 .u-video-3 {
    margin-top: 20px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 252px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 176px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 269px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 69px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 720px;
}

.u-section-3 .u-video-1 {
  width: 744px;
  height: 450px;
  margin: 50px 0 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -450px 936px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 491px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-3 .u-video-1 {
    height: 437px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 71px;
  }
}