@font-face {
  font-family: Roboto-B;
  src: url(fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-L;
  src: url(fonts/Roboto-Thin.ttf);
}

html{
    margin: 0px;
    overflow-x: hidden;
}

body{
    margin: 0px;
    background-color: #f0f0f0;
}

#top, #footer {
    background-color: black;
    color: white;
    overflow: hidden;
}

.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 1000px;
    
    max-width: 100%;
    padding: 0px;
}

#logo{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#homeIMG_Container{
    overflow: hidden;
    width: 100%;
    height: 40vw;
}

.IMAGE{
    width: 49%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

h1, h2, p, a {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto-L, sans-serif;
    text-decoration: none;
}

h2, a {
    font-family: Roboto-B, sans-serif;
    font-size: 20px;
}

.comingsoon {
    color: #d85555 !important;
}

a {
    color: black;
}

a:hover {
    color: #a2a2a2;
}

#info{
    text-align: left !important;
    font-size: 16px;
    margin-top: 4vw;
}

p {
    text-align: center;
    font-size: 16px;
}

.hide {
    visibility: hidden;
}

.project {
    text-align: center !important;
}

#footer {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top: 50px;
    bottom: 0;
}

#mail {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto-L, sans-serif;
    text-decoration: none;
    color: #fff;
}

/* Slideshow container */
.slideshow-container {
    overflow: hidden;
    width: 100%;
    height: 40vw;
    background-color: black;
}

#kurtillustrations {
    overflow: inherit;
    margin: auto;
    width: 250px;
    height: 320px;
    background-color: #f0f0f0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #212121;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}