div {
    margin-top: 20px;
    display: grid;
    height: 100%;
}

p {
    color: aliceblue;
    margin: auto;
    padding: 10px;
    width: 80%;
    font-family: monospace;
    font-weight: bolder;
    font-size: 35px;
    border-radius: 10px;
    background-image: linear-gradient(#33d34c, #88d89d);
}